/* Extra resets */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* My comment*/

/* Typograghy */

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 38px;
  padding: 25px;
  color: #2d2d2d;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: "Playfair Display";
}

.style {
  max-width: 1240px;
  margin: 5px auto;
  padding-top: 20px;
}

.style h2 {
  font-size: 38px;
  color: #2d2d2d;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: "Playfair Display";
}

.style p {
  padding-top: 25px;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 2;
  min-height: 140px;
  display: flex;
  justify-content: center;
}

/* Common Layout Classes */

.container {
  max-width: 1240px;
  margin: 0 auto; /* to center the element! */
  /* background-color:white; remove later! */
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.container-small {
  width: 720px;
  margin: 0 auto; /* to center the element! */
  background-color: black; /*remove later! */
}

/* header area*/

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.logo {
  width: 50%;
  order: 1;
}

.logo-img {
  max-width: 150px;
}

.cart {
  width: 50%;
  order: 2;
  text-align: right;
}

.cart-img {
  max-width: 60px;
}

.nav-container {
  order: 3;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-container .nav {
  width: 100%;
  padding-right: 3px;
  margin: 0;
}

.nav-container .nav a {
  padding: 5px;
}

header section {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

header a {
  color: #e2574c;
  display: flex;
  justify-content: space-evenly;
}

/*banner area */
.bannerheader {
  border-top: 1px solid #d7d7d7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, center 102px, center;
  background-size: cover, contain;
  position: center, bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banned-container {
  justify-content: center, bottom;
}

.bannerheader h2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 19px;
  font-family: "Raleway light";
  margin: 15px;
  padding: 15px;
}

.bannerheader h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Playfair Display";
  font-size: 60px;
  text-align: center;
  padding: 15px;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

.alohaproducts-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  font-family: "Raleway Web", sans-serif;
  font-weight: 400;
}

.product-item {
  max-width: 100%;
  width: 100%;
  height: 55vh;
  font-size: 22px;
}

/*.product-item a {
  padding: 175px 0;
}*/

.product-item-square {
  max-width: 50%;
}

.mens-image {
  /* max-width: 50%; */
  /*padding: 175px 0; */
  height: 100%;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  display: flex;
  background-image: url(../images/mens-category.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  justify-content: center;
}

.trends-image {
  /* max-width: 25%; */
  /*padding: 175px 0;*/
  height: 100%;
  align-items: center;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  background-image: url(../images/trends-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.glasses-image {
  /* max-width: 25%; */
  /*padding: 175px 0;*/
  height: 100%;
  align-items: center;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  background-image: url(../images/glasses-category.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  justify-content: center;
}

.sale-image {
  /* max-width: 25%; */
  /*padding: 175px 0;*/
  height: 100%;
  align-items: center;
  border-right: 4px solid white;
  border-top: 4px solid white;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  background-image: url(../images/sale-category.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  justify-content: center;
}

.bags-image {
  /* max-width: 25%; */
  /*padding: 175px 0;*/
  height: 100%;
  align-items: center;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  background-image: url(../images/bags-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.womens-image {
  /* max-width: 50%; */
  /*padding: 175px 0; */
  height: 100%;
  align-items: center;
  border-left: 4px solid white;
  border-top: 4px solid white;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  background-image: url(../images/womens-category.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  justify-content: center;
}

.nav {
  display: flex;
  margin: 15px;
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 15px;
  flex-direction: row;
  max-width: 90%;
  justify-content: space-evenly;
}

.nav-container {
  flex-grow: 1;
  color: #e2574c;
}

.loved-products {
  border: 2px dotted black;
}

.main-carousel {
  max-width: 1240px;
  margin: 50px auto;
  padding: 50px;
}

.loved-pro {
  font-size: 15px;
  color: #969696;
}

.cash-pro {
  font-size: 15px;
  color: #969696;
}

h4 {
  font-size: 24px;
  font-family: "Playfair Display";
  font-weight: normal;
  color: #e2574c;
  margin: 8px;
  padding: 8px;
}

.updates {
  min-height: 340px;
  margin-bottom: 10px;
  padding: 20px;
  background-image: url(../images/wave-bkgd.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  line-height: 2;
  font-size: 20px;
}

.updates h2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 0px;
}

.updates p {
  padding-bottom: 12px;
  margin: 0 auto;
  max-width: 800px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  justify-content: center;
}

.subscribe-form {
  text-align: center;
  position: relative;
  max-width: 425px;
  margin: 0 auto;
  font-size: 16px;
}

.email-button {
  position: relative;
  width: 100%;
  border-radius: 25px;
  padding: 12px;
  font-size: 14px;
}

.submit-button {
  position: absolute;
  right: 3px;
  top: 4px;
  padding: 9px;
  font-size: 16px;
  background-color: #e2574c;
  color: white;
  border-radius: 25px;
  width: 115px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  /* padding-left: 90px;
    padding-right: 155px; */
  margin-top: 0 auto;
  font-size: 16px;
  background-color: #242424;
  color: white;
  min-height: 325px;
  justify-content: space-between;
  align-items: center;
}

.footercopyright p {
  color: white;
  font-size: 16px;
}

.footerbottom p {
  text-align: center;
  font-size: 16px;
}

.footerwebsite p,
.footerwebsite a {
  color: white;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.addy p {
  color: #969696;
}

footer a {
  color: white;
  display: flex;
}

footer p {
  line-height: 1.4;
}

.socialmedialogos i {
  color: white;
  padding-bottom: 15px;
  display: inline-block;
  width: 28px;
  justify-content: space-around;
}

.socialmedialogos ul {
  display: flex;
}

.socialmedialogos ul span {
  display: none;
}

p {
  line-height: 2;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  color: #2d2d2d;
  margin: 0% auto;
}

/* mobile style */
.carousel-cell {
  width: 100%;
  text-align: center;
}

/*@media (min-width: 600px){
     /*tablet css */

/* media query example */
/*@media screen and (min-width: 600px) {*/
/* .carousel-cell {
      width: 20%;
    }
} */

.container-small {
  width: 50%;
}

.style p {
  max-width: 50%;
}

.nav {
  width: 50%;
}

.bannerheader {
  min-height: 550px;
}

/*.product-item {
    width: 50%;
} */

/* .product-item-square {
    width: 25%;
} */

.updates {
  font-size: 16px;
}

.updates p {
  max-width: 50%;
  font-size: 16px;
}

@media (min-width: 600px) {
  .logo {
    width: 15%;
    order: 1;
  }

  .logo-img {
    max-width: 150px;
  }

  .cart {
    width: 15%;
    order: 3;
    text-align: right;
  }

  .cart-img {
    max-width: 60px;
  }

  .nav-container {
    order: 2;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .nav-container .nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-container .nav {
    width: 100%;
  }

  .nav-container .nav a {
    padding: 5px;
  }

  .product-item {
    width: 50%;
    height: 35vh;
    font-size: 28px;
  }

  .product-item-square {
    width: 25%;
  }

  .mens-image {
    flex: 0 1 100%;
  }

  .carousel-cell {
    width: 50%;
  }

  .socialmedialogos ul {
    flex-direction: column;
  }

  .socialmedialogos ul span {
    display: block;
  }

  footer {
    flex-direction: row;
  }

  .footerbottom p {
    text-align: left;
  }
}

@media (min-width: 1240px) {
  .product-item {
    height: 75vh;
    font-size: 38px;
    font-weight: 400;
  }

  /* desktop and larger css */
  .carousel-cell {
    width: 25%;
  }
}
